body {
    margin: 0 auto;
    padding: 0;
}

.ant-layout>.layout-header {
    height: 80px;
}

.ant-layout>.layout-sider {
    min-height: 760px;
}

.ant-layout .layout-content {
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}
